// Main colors
$primary-blue: #005ab9;
$black:        #000;
$dark-gray:    #1a1a1a;
$medium-gray:  #666666;
$light-gray:   #b3b3b3;
$white:        #fff;

// Main fonts
$main-font: 'Open Sans', sans-serif;
