/*
* HBS
* Build Date: July 2016
* Author: Carlos Riera
* https://1987cr.github.io/
*/

/*  TABLE OF CONTENTS
    ---------------------------
     (@Import only for SASS) & Reset
     1. Basic style
     2. Core & Components
     3. Generic Design
*/

@import 'partials/variables'; // colors, fonts etc...
@import 'partials/mixins'; // custom mixins
@import 'partials/layout'; // responsive grid and media queries

/* ------------------------------------- */
/* Reset ............................... */
/* ------------------------------------- */

*, *::after, *::before {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------- */
/* 1. Basic style ...................... */
/* ------------------------------------- */